body {
  margin: 0;
}
.slideShow {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slideShow .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.slideShow .arrowLeft {
  left: 10px;
}
.slideShow .arrowRight {
  right: 10px;
}
.slideShow .slides {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  font-size: 0;
  overflow: hidden;
  height: 400px;
}
.slideShow .slides .slide {
  display: inline-block;
  width: 100vw;
  height: inherit;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.slideShow .slides .slide .info {
  box-sizing: border-box;
  padding-left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slideShow .slides .slide .info h6 {
  margin: 0;
  font-size: 24px;
  opacity: 0;
  color: white;
  position: absolute;
  bottom: 0;
}
.slideShow .slides .slide .info h2 {
  font-size: 32px;
  color: white;
  margin: 0;
}
.slideShow .slides .slide .info button {
  opacity: 0;
  position: absolute;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  bottom: 0;
}
.slideShow .slides .slide1 {
  background-image: url(../images/1.jpg);
}
.slideShow .slides .slide2 {
  background-image: url(../images/2.jpg);
}
.slideShow .slides .slide3 {
  background-image: url(../images/3.jpg);
}
.slideShow .slides .slide4 {
  background-image: url(../images/4.jpg);
}
.slideShow .bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.slideShow .bullets .bullet {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}
.slideShow .bullets .bullet:last-of-type {
  margin-right: 0;
}
.slideShow .bullets .bullet img {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.slideShow .bullets .bullet.active {
  width: 16px;
  height: 16px;
  content: url("../images/active.png");
}
@media (max-width: 667px) {
  .slideShow .arrow {
    display: none;
  }
}
